@font-face {
  font-family: library3am;
  src: url(/fonts/library3am.otf);
}
@font-face {
  font-family: no-continue;
  src: url(/fonts/NoContinue.ttf);
}
* {
  touch-action: manipulation;
}
body {
  background-color: #000000;
  margin: 0
}
#canvas {
  background-color: #000000;
  position: absolute;
  width: 100%;
  height: 100%;
}
#playDiv {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}
#deathMenuDiv {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
#deathMessage {
  margin-top: 5vh;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 15vmin;
  font-family: no-continue;
  text-align: center;
  color: rgb(200,0,0);
}
#deathButton {
  background-color: #10101099;
  margin-top: auto;
  margin-bottom: 15vh;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 10vmin;
  font-family: library3am;
  text-align: center;
  color: rgb(200,10,10);
}
#deathButton:focus {
  background-color: #10101099;
  outline: none;
}
#mainMenuDiv {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
}
#title {
  margin-top: 3vh;
  margin-bottom: 5vh;
  font-size: 15vmin;
  font-family: library3am;
  text-align: center;
  color: rgb(0,355,70);
}
.menuButton {
  background-color: #101010;
  margin-top: 0;
  margin-bottom: 5vh;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 9vmin;
  font-family: no-continue;
  text-align: center;
  color: rgb(0,200,355);
}
.menuButton:focus {
  background-color: #303030;
  outline: none;
}